<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="UTF-8">
    <title>eCommerce Dashboard - Orders</title>
    <meta name="description" content="Users">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'mainApp/css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>

<body>
    <form action="/home" method="GET">
        <button type="submit" class="btn btn-light">Back</button>
    </form>
    <div class="beveragesBlock">
        <h1>Beverage</h1>
        {% for bev in displayedBeverages %}
            <div class="beverageBlock">
                <h2>{{ bev.name }}</h2>
                {% if bev.description %}
                    <div>{{ bev.description }}</div>
                {% endif %}
                <div>{{ bev.price }}</div>
            </div>
        {% endfor %}
    </div>
</body>