<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="UTF-8">
    <title>eCommerce Dashboard - Orders</title>
    <meta name="description" content="Users">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'mainApp/css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#info").click(function() {
                $([document.documentElement, document.body]).animate({
                    scrollTop: $("#infoBlock").offset().top - 200
                }, 1000);
            });
            $("#beans").click(function() {
                $([document.documentElement, document.body]).animate({
                    scrollTop: $("#beansBlock").offset().top - 50
                }, 1000);
            });
        });
    </script>
</head>

<body class="homeBody">
    <nav class="navbar" id="myNavbar">
        <img class="navImg" src="{% static 'mainApp/img/CopperTree_Logo.png' %}" alt="Copper Tree Logo">
        <!-- <div class="collapse navbar-collapse" id="navbarList"> -->
            <a class="navLink" id="info">Info</a>
            <a class="navLink" id="drinks" href="/drinkMenu">Drinks</a>
            <a class="navLink" id="food" href="/foodMenu">Food</a>
            <a class="navLink" id="beans">Beans</a>
            <a class="navLink" id="community" href="/community">Community</a>
        <!-- </div> -->
    </nav>

    <div id="fillerBlock"></div>

    <div id="backPicBlock">
        <div id="infoBlock">
            <h1>Hours and Location</h1>
            <ul>
                <li>Monday-Friday: 7:30am-3:30pm</li>
                <li>Saturday: 8am-3pm</li>
                <li>Sunday: Closed</li>
            </ul>
            <p>2406 10th Ave E, Seattle, WA 98102</p>
            <h3>Contact Us</h3>
            <p>Phone: (206)000-0000</p>
            <p>Email: CopperTree.Seattle@gmail.com</p>
        </div>
    </div>

    <div id="beansBlock">
        <div class="line"></div>
        <h1>Roasters</h1>
        {% for r in displayedRoasters %}
            <div class="roasterBlock">
                <h3>{{ r.companyName }}</h3>
                {% for bean in displayedBeans %}
                    {% if bean.roaster.id == r.id %}
                        <h4>{{ bean.title }} - </h4>
                        <ul>
                            {% if bean.blend %}
                                <li>Blend: {{ bean.blend }}</li>
                            {% endif %}
                            {% if bean.process %}
                                <li>Process: {{ bean.process }}</li>
                            {% endif %}
                            {% if bean.notes %}
                                <li>Notes: {{ bean.notes }}</li>
                            {% endif %}
                        </ul>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
        <div class="pastRoastersBlock">
            <h2>Past Roasters:</h2>
            {% for r in pastRoasters %}
                {% if r.url %}
                    <p>{{ r.companyName }} - <a href={{r.url}}>{{ r.url }}</a></p>
                {% else %}
                    <p>{{ r.companyName }}</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>

</body>


</html>